body {
  background-image: url(https://leganerd.com/wp-content/uploads/2020/06/onde-999x650.jpg); 
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.Ocean{
    color: aqua;
}